{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-box-highlight">
	        <h1 class="bold-large">Your payment has been successful</h1>
            <p>
          	Your payment reference number is <br>
          	<strong class="heading-medium">TEST123456V</strong>
        	</p>
      	</div>

	    <h2 class="heading-medium">What happens next</h2>
        <p>You'll receive an email receipt in the next hour.</p>
        <p>You don't need to do anything else. Now that we've received your payment, we'll proceed with your application.</p>

      	<h2 class="heading-medium">Payment summary</h2>
      	<table class="check-your-answers">
		    <tbody>
		        <tr>
			        <td>Payment description:</td>
			        <td>Additional fee for Local Authority ceremony</td>
		        </tr>
		        <tr>
			        <td>Amount paid:</td>
			        <td>£80.00</td>
		        </tr>
		    </tbody>
	    </table>
    </div>

 

  </div>

</main>
{% endblock %}


