{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <form action="card-payment" method="post" class="form">

    <h1 class="heading-xlarge">
    Pay to Become a British Citizen
    </h1>

    <p class="lede">
      You need to make an additional payment to proceed with your application.
    </p>

    <!-- <h2 class="heading-medium">
    Your reference number: Test123Etc
    </h2> -->
		
    <div class="panel panel-border-wide">
      <table class="check-your-answers">
        <!-- <thead>
          <tr>
            <th colspan="1">Your reference number</th>
            <th colspan="1">{{data['ref-number']}}</th>
          </tr>
        </thead> -->

        <tbody>
          <tr>
            <td>You owe:
              <div class="data">
                <span class="data-item bold-xlarge">£80.00</span>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <td>Description:</td>
            <td>Additional fee for Local Authority ceremony</td>
          </tr> 
          <tr>
            <td>Applicant name:</td>
            <td>John Smith</td>
          </tr> 
          <tr>
            <td>Email:</td>
            <td>example@email.com</td>
          </tr> 
          <tr>
            <td>Reference number:</td>
            <td>TEST123456V</td>
          </tr> 

        </tbody>
      </table>  
    </div> 
    
    </br>
		<div class="form-group">
      <input type="submit" class="button" value="Proceed to payment">
    </div>

    <details>  
      <summary><span class="summary">This information is incorrect</span></summary>
    </details>
    </div>
  </div>

</main>


{% endblock %}


