{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-box-highlight">
	        <h1 class="bold-large">Your payment has been successful</h1>
            <p>
          	Your payment reference number is <br>
          	<strong class="heading-medium">TEST123456V</strong>
        	</p>
      	</div>

	    <h2 class="heading-medium">What happens next</h2>
        <div class="panel panel-border-wide">
          <p>Include your payment reference number with your application as proof of payment. Your reference: <span class="heading-small">TEST123456V</span></p>
        </div>
        <p>We will send you an email receipt in the next hour.</p>
      	
	
      	<h2 class="heading-medium">Payment summary</h2>
      	<table class="check-your-answers">
		    <tbody>
		        <tr>
			        <td>Payment description:</td>
			        <td>Historic Service Records</td>
		        </tr>
		        <tr>
			        <td>Amount paid:</td>
			        <td>£30.00</td>
		        </tr>
		    </tbody>
	    </table>
    </div>

 

  </div>

</main>
{% endblock %}


