{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <form action="card-payment" method="post" class="form">

	    <h1 class="heading-xlarge">
      Pay to Request a Historic Service Record
      </h1>

       <p>
      You can pay online for your application. Once you have successfully paid, you will receive a reference number. Include the reference number with your application as proof of payment.
      </p>


      <p>It can take several months for your application to be processed.</p>
		  
      <div class="form-group">
          <label class="form-label-bold" for="name">Full name
            <span class="form-hint">
          This is the individual or business making the application
            </span>
          </label>
          <input class="form-control form-control-3-4" id="name" name="name" type="text">
          </input>
      </div>  
      <div class="panel panel-border-wide">
        <h2 class="heading-medium">Total amount:</h3>
        <p>£30.00</p>
      </div> 

    <details>
    <summary><span class="summary">Pay for multiple applications</span></summary>
      
      <div class="form-group">
        <label class="form-label-bold" for="item-amount">Number of items you are paying for
        <span class="form-hint"></span></label>
        <input class="form-control form-control-1-8" id="item-amount" name="item-amount" type="number">
    </div>

    </details>
    </br>
		<div class="form-group">
      <input type="submit" class="button" value="Proceed to payment">
    </div>

    </div>
  </div>

</main>


{% endblock %}


