{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<!-- Top navigation -->

<div class="grid-row">
    <div class="utility-nav">
	    <div class="column-half">
			<div class="service-name">
				<h2>Service name</h2>
				<div class="environment-tag"> 
					<p>Live</p>
				</div>
			</div>
		</div>
		
		<div class="column-half">
			<ul>
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Transactions</a></li>
				<li><a class="utility-active" href="#">Settings</a></li>
			</ul>
		</div>
	</div>	
</div>

<!-- Left navigation -->
<div class="grid-row">
	<div class="column-one-third">
		<div class="left-nav">
		    <ul>
			    <li><a href="#">Service name</a></li>
			    <li><a href="#">API keys</a></li>
			    <li><a href="#">Email notifications</a></li>
			    <li><a href="#">3D Secure</a></li>
			    <li><a class="active-left-nav" href="#">Set up payment page</a></li>
		    </ul>
		</div>
	</div>

<!-- Page content -->
	<div class="column-two-thirds">
		<h2 class="heading-large">Set up a payment page</h2>

		<p class="lede">
			You can set up a payment page on GOV.UK where users can make payments online for your service.
		</p>

		<div class="panel panel-border-wide">
		    <p>
			    <a href="#">Add custom paragraph</a>
		    </p>    
		</div>	

		<div class="form-group">    
		    <label class="form-label-bold" for="amount-paid">Amount</label>
		    £
		    <input class="form-control form-control-1-4" id="amount-paid" name="amount-paid" type="text">
		</div>

		<div class="form-group">
		    <label class="form-label-bold" for="item-number">Number of items
			    <span class="form-hint">
			    	Allow user to pay for multiple of the same item
			    </span>
		    </label>

		    <input class="form-control form-control-1-4" id="item-number" name="item-number" type="number">
		    </input>
		</div>	

		<a class="button" href="1/start" role="button">Turn on payment page</a>
		<p>
		<br>
		<a href="#">Preview payment page</a>
		</p>

	</div>	

</div>

</main>


{% endblock %}


