{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
    <div class="column-two-thirds">
	
	<form action="payment-success" method="post" class="form">
	
	    <h1 class="heading-large">
	    Confirm your payment
	    </h1>

	    <table class="check-your-answers">
		    <tbody>
		        <tr>
			        <td>Card number:</td>
			        <td>************4242</td>
		        </tr>
		        <tr>
			        <td>Expiration date:</td>
			        <td>{{data['exp-month']}}/{{data['exp-year']}}</td>
		        </tr>
		        <tr>
			        <td>Name on card:</td>
			        <td>{{data['card-name']}}</td>
		        </tr>
		        <tr>
			        <td>Billing address:</td>
			        <td>
			        {{data['address']}} {{data['city']}} {{data['postcode']}}
			        </td>
		        </tr>
		        <tr>
			        <td>Email address:</td>
			        <td>{{data['email']}}</td>
		        </tr>
		        <tr>
			        <td>Payment description:</td>
			        <td>{{data['payment-description']}}</td>
		        </tr>
		        <tr>
			        <td>Amount to pay:</td>
			        <td>£{{data['amount-paid']}}</td>
		        </tr>
		    </tbody>
	    </table>

	    <div class="form-group">
        <br>    <input type="submit" class="button" value="Confirm and pay">
        </div>
	    <p>
			<a href="start">Cancel payment</a>
		</p>

	</div>
</div>
</main>



{% endblock %}


