{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<!-- Top navigation -->

<div class="grid-row">
    <div class="utility-nav">
	    <div class="column-half">
			<div class="service-name">
				<h2>Service name</h2>
				<div class="environment-tag"> 
					<p>Live</p>
				</div>
			</div>
		</div>
		
		<div class="column-half">
			<ul>
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Transactions</a></li>
				<li><a class="utility-active" href="#">Settings</a></li>
			</ul>
		</div>
	</div>	
</div>

<!-- Left navigation -->
<div class="grid-row">
	<div class="column-one-third">
		<div class="left-nav">
		    <ul>
			    <li><a href="#">Service name</a></li>
			    <li><a href="#">API keys</a></li>
			    <li><a href="#">Email notifications</a></li>
			    <li><a href="#">3D Secure</a></li>
			    <li><a class="active-left-nav" href="#">Set up payment page</a></li>
		    </ul>
		</div>
	</div>

<!-- Page content -->
	<div class="column-two-thirds">
		<h2 class="heading-large">Set up a payment page</h2>

		<form action="content" method="post" class="form">

		<p class="lede">
			You can set up a payment page on GOV.UK where users can make payments online for your service.
		</p>

		<div class="panel panel-border-wide">
			<div class="data">
			  <span class="data-item bold-xlarge">£{{data['fixed-fee']}}</span><br>
			  <span class="data-item bold-small">{{data['items']}} items available</span>
			</div>  
		</div>

		<h2 class="heading-medium">
		  Page content
		</h2>

		<div class="panel panel-border-wide">
			<p>
			You can pay online for your application. Once you have successfully paid, you will receive a reference number. Include the reference number with your application as proof of payment.	
			</p> 
		</div>	

		<div class="form-group">
            <label class="form-label-bold" for="custom-paragraph">
              Add custom paragraph
            </label>
            <textarea class="form-control full-width" id="custom-paragraph"></textarea>
	    </div>

		<div class="form-group">
        	<input type="submit" class="button" value="Save and continue">
        	<!-- <a class="button grey-button" href="/1/start" role="button">Preview</a> -->
        </div>


		

	</div>	

</div>

</main>


{% endblock %}


