{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
        Paying online for an offline service
        <span class="heading-secondary">Alpha prototypes</span>
        </h1>
      
        <h2 class="heading-medium">Ad hoc: User enters details</h2>
	        <ul class="list list-bullet">
				<li><a href="1/start">User payment pages</a></li>
				<li><a href="#">Admin tool</a></li>
			</ul>

		<h2 class="heading-medium">Ad hoc: Single fee</h2>
			<ul class="list list-bullet">
				<li><a href="2/start">User payment pages</a></li>
				<li><a href="#">Admin flow</a></li>
			</ul>

      <h2 class="heading-medium">Ad hoc: Unique payments</h2>
			<ul class="list list-bullet">
				<li><a href="3/start">User payment pages</a></li>
				<li><a href="#">Admin flow</a></li>
			</ul>
			
    </div>
  </div>
</main>

{% endblock %}


